$body-background-color: #fff;

$kanpan-list-color-primary:                       #f66404;
$kanpan-list-color--tint:                         #98c7ff;
// $kanpan-list-stage-right-width:                      280px;


//module 
// site footer
$site-footer-height:                                160px;
$site-footer-space:                                 35px;
