$sizeList: 32, 36, 50, 60, 85, 100, 116;

@each $size in $sizeList {
  .u-size#{$size}x#{$size} {
    width: #{$size}px !important; 
    height: #{$size}px !important;
  }
}

.u-widthFull {
  width: 100% !important;
}

.u-heightFull {
  height: 100% !important;
}

.u-fillParent {
  height: 100% !important;
  width: 100% !important;
}

// deprecated 已弃用 后续会慢慢移除 请使用 u-widthFull 替代
.u-sizeFull {
  width: 100% !important;
}

.u-sizeZero {
  overflow: hidden;
  width: 0!important;
  height: 0!important
}
