$borderSize: 1px;

@mixin arrow-right(
  $size,
  $color,
  $borderColor
) {
  $outterSize: $size + $borderSize * 1.41; // sqrt(2) == 1.41;

  &,
  &:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  // outer
  & {
    border-width: $outterSize;
  }

  // inner
  &:after {
    content: " ";
    border-width: $size;
  }

  & {
    top: 50%;
    right: -$outterSize;
    margin-top: -$outterSize;
    border-right-width: 0;
    border-left-color: $borderColor;
  }

  &:after {
    top: -$outterSize;
    left: -$outterSize;
    margin-top: $borderSize;
    // bottom: $size - $outterSize;
    border-right-width: 0;
    border-left-color: $color;
  }
}